<div class="authform">
  <%= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => { :role => 'form'}) do |f| %>
    <h3>Log in</h3>
    <%= devise_error_messages! %>
    <div class="form-group">
      <div class="left-inner-addon ">
          <i class="fa fa-user"></i>
      <%= f.email_field :email, :required => true, :autofocus => true, class: 'form-control', placeholder: 'E-mail: example@gmail.com' %>
    </div>
    </div>
    <div class="form-group">
     <div class="left-inner-addon">
          <i class="fa fa-lock"></i>
      <%= f.password_field :password, :required => true, class: 'form-control', placeholder: 'Password' %>
    </div>
    </div>
      <%= f.submit 'Log in', :class => 'button right' %>
      <% if devise_mapping.rememberable? -%>
        <div class="checkbox">
          <%= f.check_box :remember_me %> <%= f.label :remember_me %>
        </div>
      <% end -%>
  <% end %>
</div>
